.metals/
.vscode/
test-data.txt
CovidWords.txt

# Created by https://www.toptal.com/developers/gitignore/api/scala,spark,vscode,metals,sbt,dotenv
# Edit at https://www.toptal.com/developers/gitignore?templates=scala,spark,vscode,metals,sbt,dotenv
null/

### dotenv ###
.env

### Metals ###
.metals/
.bloop/
project/**/metals.sbt

### SBT ###
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
.bsp